# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# Visual Studio files
.vs/
*.VC.db
*.vscode/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
.nuget/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Publish folder
publish/
wwwroot/

# Angular
node_modules/
dist/
.angular/
.env

# Configuration files
.env.local
.env.*.local

# SQL Server / BBDD
*.mdf
*.ldf
*.bak
