USE [master]
GO
/****** Object:  Database [SideasChallengeDb]    Script Date: 26/7/2025 15:27:39 ******/
CREATE DATABASE [SideasChallengeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SideasChallengeDb', FILENAME = N'C:\Users\Luciano\SideasChallengeDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SideasChallengeDb_log', FILENAME = N'C:\Users\Luciano\SideasChallengeDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SideasChallengeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SideasChallengeDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agrupaciones]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agrupaciones](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Agrupaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgrupacionProfesiones]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgrupacionProfesiones](
	[AgrupacionId] [int] NOT NULL,
	[ProfesionId] [int] NOT NULL,
 CONSTRAINT [PK_AgrupacionProfesiones] PRIMARY KEY CLUSTERED 
(
	[AgrupacionId] ASC,
	[ProfesionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[Id] [bigint] NOT NULL,
	[Tipo] [nvarchar](max) NOT NULL,
	[NumeroExp] [nvarchar](max) NOT NULL,
	[AnioExp] [int] NULL,
	[Incidente] [int] NULL,
	[Autos] [nvarchar](max) NOT NULL,
	[NombreAuxiliar] [nvarchar](max) NOT NULL,
	[TipoDocAuxiliar] [nvarchar](max) NOT NULL,
	[DocAuxiliar] [bigint] NULL,
	[CreacionFecha] [datetime2](7) NULL,
	[IdProfesionAux] [int] NULL,
	[EspecialidadAuxiliar] [nvarchar](max) NOT NULL,
	[ProfesionAuxiliar] [nvarchar](max) NOT NULL,
	[Fuero] [int] NULL,
	[Zona] [int] NULL,
	[Reparticion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Asignaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fueros]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fueros](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Fueros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesiones]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesiones](
	[Id] [int] NOT NULL,
	[ProfesionCodigo] [int] NOT NULL,
	[Especialidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Profesiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 26/7/2025 15:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Reparticion] [nvarchar](max) NOT NULL,
	[FueroId] [int] NOT NULL,
 CONSTRAINT [PK_Zonas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AgrupacionProfesiones_ProfesionId]    Script Date: 26/7/2025 15:27:40 ******/
CREATE NONCLUSTERED INDEX [IX_AgrupacionProfesiones_ProfesionId] ON [dbo].[AgrupacionProfesiones]
(
	[ProfesionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgrupacionProfesiones]  WITH CHECK ADD  CONSTRAINT [FK_AgrupacionProfesiones_Agrupaciones_AgrupacionId] FOREIGN KEY([AgrupacionId])
REFERENCES [dbo].[Agrupaciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgrupacionProfesiones] CHECK CONSTRAINT [FK_AgrupacionProfesiones_Agrupaciones_AgrupacionId]
GO
ALTER TABLE [dbo].[AgrupacionProfesiones]  WITH CHECK ADD  CONSTRAINT [FK_AgrupacionProfesiones_Profesiones_ProfesionId] FOREIGN KEY([ProfesionId])
REFERENCES [dbo].[Profesiones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgrupacionProfesiones] CHECK CONSTRAINT [FK_AgrupacionProfesiones_Profesiones_ProfesionId]
GO
USE [master]
GO
